<html>
	<head>
		<title>3Riders</title>
		<%- include('styles.ejs') %>
	</head>
	<body class="drac-bg-black drac-text-white center">
		<%- include('topbar.ejs') %>
		<div class="container" style="padding-top: 100px">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="drac-heading drac-heading-xl drac-text-white">
						Tell us the details, we will show you if he/she is on
						the list.
					</h1>
					<br />
					<form action="/search" method="post">
						<div class="form-group">
							<label
								for="name"
								class="drac-text-white drac-heading"
								style="float: left"
								>Name:
							</label>
							<input
								type="text"
								class="drac-input drac-input-white drac-text-white"
								id="search_name"
								name="search_name"
								placeholder="His/Her names..."
							/>
						</div>
						<br />
						<div class="form-group">
							<label
								for="course"
								class="drac-text-white drac-heading"
								style="float: left"
								>Studying course:
							</label>
							<select
								name="search_course"
								id="search_course"
								class="drac-input drac-input-white drac-text-white"
							>
								<option value="NA">Choose course code</option>
								<option value="381F">S381F</option>
								<option value="333F">S333F</option>
								<option value="456F">S456F</option>
							</select>
						</div>
						<br />
						<br />
						<button
							type="submit"
							value="Search"
							class="drac-btn drac-text-black"
							style="float: right; color: green"
						>
							Search
						</button>
					</form>
				</div>
				<br />
				<br />
				<div class="col-sm-12">
					<!-- div for diplaying filtered result -->
					<h1 class="drac-heading drac-heading-xl drac-text-white">
						Free rider list:
					</h1>
					<table
						id="listTable"
						class="drac-table drac-table-cyan drac-text-white reports"
					>
						<thead>
							<tr>
								<th class="drac-text drac-text-white">Name</th>
								<th class="drac-text drac-text-white">
									Reported by
								</th>
								<th class="drac-text drac-text-white">
									Course Code
								</th>
								<th class="drac-text drac-text-white">
									Remarks
								</th>
								<th class="drac-text drac-text-white">
									Time being reported
								</th>
							</tr>
						</thead>
						<tbody id="display"></tbody>
					</table>
				</div>
			</div>
			<form method="/drop" action="post" id="dropForm" style="display:none">
				<input
					type="text"
					id="drop_id"
					name="drop_id"
				/>
				<button type="submit" id="dropButton"></button>
			</form>
		</div>
	</body>
	<% if (riders != "") { %>
	<script type="text/javascript">
		var display = document.getElementById("display");
		var content = "";
		/*
			//var ridersList = JSON.stringify(<%= riders %>);
			//var riders = decodeURIComponent(<%=riders%>);
			for (var i = 0; i <= <%=riders%>.length; i++) {
				<%=riders%>[i] = decodeURIComponent(<%=riders%>[i]);
			}
			//decode = decodeURIComponent(<%=riders%>);
			*/
		var ridersString = `<%-riders%>`;
		var ridersList = JSON.parse(ridersString);
		console.log("Rider list :", ridersList);

		if (ridersList != null && ridersList != "") {
			console.log("Construction content for display......");
			for (let i in ridersList) {
				content += "<tr><td>" + ridersList[i].name + "</td>";
				console.log(ridersList[i].name);
				console.log(ridersList[i].reports);
				//var reports = ridersList[i].reports;
				for (let x in ridersList[i].reports) {
					content +=
						"<td>" +
						ridersList[i].reports[x].username +
						"</td><td>" +
						ridersList[i].reports[x].courseCode +
						"</td><td>" +
						ridersList[i].reports[x].remarks +
						"</td><td>" +
						ridersList[i].reports[x].reportDate +
						"</td><td><button onclick=\"dropReport('" +
						ridersList[i].reports[x]._id +
						"', '" +
						ridersList[i].name +
						"', '" +
						ridersList[i].reports[x].courseCode +
						"')\">🗑️</button></td>";
					console.log(
						"Username: ",
						ridersList[i].reports[x].username
					);
					console.log(
						"Course Code: ",
						ridersList[i].reports[x].courseCode
					);
					console.log("Remarks: ", ridersList[i].reports[x].remarks);
					console.log(
						"Report Date: ",
						ridersList[i].reports[x].reportDate
					);
					if (x < ridersList[i].reports.length - 1) {
						content += "</tr><tr><td></td>";
					}
				}
				content += "</tr>";
			}
			display.innerHTML = content;
		}
		function dropReport(reportID, name, courseCode){
			let choice = confirm(
								"Detail: \n" +
								"ID: " +reportID +"\n" +
								"Name: " +name +"\n" +
								"Free rided in course: " +courseCode +"\n\n" +
								"Are you sure you want to remove?"
								);
			if (choice) {
				var data = {
					'nameStr': name,
					'report_id': reportID
				};
				fetch("/drop", {
					method: "POST",
					headers: {'Content-Type': 'application/json',},
					body: JSON.stringify(data)
				});
				console.log("Json Stringified = ", JSON.stringify(data));
			} else {
				alert("Aborted");
				location.reload();
			}
			alert(reportID +" has been removed");
		}
	</script>
	<% } %>
</html>
